
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj/Debug/Project_IS_FrontEnd_1.csproj.AssemblyReference.cache
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj/Debug/Project_IS_FrontEnd_1.csproj.CoreCompileInputs.cache
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj/Debug/Project_IS_FrontEnd_1.csproj.GenerateResource.cache
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj
WebApplicationSOMIOD/WebApplicationSOMIOD/App_Data/DB_SOMIOD.mdf
WebApplicationSOMIOD/WebApplicationSOMIOD/App_Data/DB_SOMIOD_log.ldf
WebApplicationSOMIOD/Project_IS_FrontEnd_1/obj/Debug/Project_IS_FrontEnd_1.csproj.SuggestedBindingRedirects.cache

